<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Latest Mars News</h1>
          <h2>{{mars.f_article_title}}</h2>
          <p>{{mars.f_article_teaser}}</p>
        </div>
        <div class="col-md-4">
          <h2>Mars Facts</h2>
          {% block content %}
          {{mars.mars_table |safe}}
          {% endblock %}
        </div>
        <h2 style="text-align: center;">Mars Hemispheres</h2>
      </div>
      <div class="col-md-3">
        <h3>{{ mars.mars_hemisphere[0]['title'] }} <br> Hemisphere</h3>
        <img style="width: 200px;height: 200px;" src="{{ mars.mars_hemisphere[0]['img_url'] }}" alt="{{ mars.mars_hemisphere[0]['title'] }}">
      </div>
      <div class="col-md-3">
        <h3>{{ mars.mars_hemisphere[1]['title'] }} Hemisphere</h3>
        <img style="width: 200px;height: 200px;" src="{{ mars.mars_hemisphere[1]['img_url'] }}" alt="{{ mars.mars_hemisphere[1]['title'] }}">
      </div>
      <div class="col-md-3">
        <h3>{{ mars.mars_hemisphere[2]['title'] }} Hemisphere</h3>
        <img style="width: 200px;height: 200px;" src="{{ mars.mars_hemisphere[2]['img_url'] }}" alt="{{ mars.mars_hemisphere[2]['title'] }}">
      </div>
      <div class="col-md-3">
        <h3>{{ mars.mars_hemisphere[3]['title'] }} Hemisphere</h3>
        <img style="width: 200px;height: 200px;" src="{{ mars.mars_hemisphere[3]['img_url'] }}" alt="{{ mars.mars_hemisphere[3]['title'] }}">
      </div>
    </div>
      








  </div>
  </div>
</body>

</html>
